.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input {
    padding: 8px;
    width: 200px;
}

.chipSection{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.chipItem{
    padding: 8px;
    border-radius: 16px;
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    border: 1px solid #d8d8d8;
}